<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/bootstrap.css">
</head>
<body>
    <div class="container">

        <div class="row mt-2">
            <div class="col">
                <h1>TODO List: Enter User Name</h1>
            </div>
        </div>

        <form action="user" method="POST">
            <div class="mb-2">
                <label for="userName" class="form-label">User Name:</label>
                <input type="text" name="userName" id="userName" placeholder="Please enter user name" class="form-control">
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success">Login</button>
            </div>
        </form>
    </div>
</body>
</html>