<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/bootstrap.css">
</head>
<body>
    <div class="container">

        <div class="row mt-2">
            <div class="col">
                <h1>Welcome <strong data-th-text="${userName}"></strong></h1>
                <h2>Enter Your Task</h2>
            </div>
        </div>

        <form action="/task" method="POST">
            <input type="hidden" name="contents" data-th-value="${contents}">
            <input type="hidden" name="userName" data-th-value="${userName}">
            <div class="mb-2">
                <label for="taskName" class="form-label"></label>
                <input type="text" name="taskName" id="taskName" placeholder="Please enter a task" class="form-control">
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Add Task</button>
                <button type="submit" class="btn btn-danger" formaction="/task/save" formmethod="POST">Save</button>
            </div>
        </form>

        <div class="row">
            <div class="col" data-th-if="${contents == ''}">
                <h2>You are free</h2>
            </div>
        </div>
        <div class="row">
            <div class="col" data-th-if="${contents != ''}">
                <h2>Your <strong>Outstanding</strong> task</h2>
                <table class="table table-hover">
                    <tr data-th-each="list : ${tasks}">
                        <td>
                            <span data-th-text="${list}"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        

    </div>

</body>
</html>